@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }
  
 .header-logo {
    margin:30px;
    overflow: auto;
}

.clear {
    clear: right;
}

.jumbotron {
    font-size: 20px;
    padding: 20px;
    background-color: #f5ebdc;
    text-align: center;
    color: #e46713;
 }

 nav {
    background-color: #e46713;
    padding: 5px;
    position: sticky;
    top: 0;
 }

 nav a:hover {
    font-weight: bold;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    color: white;
 }


 main {
    padding: 20px;
    overflow: auto;
 }
 


 h2 {
    color: #e46713
 }
  
 h3 {
    color: #e46713
 }

 footer {
    padding: 20px;
    color: white;
    background-color: #1613e4
 }

 
 .profile header {
    text-align: center;
    background-color: #e46713;
 }

 footer {
    padding: 10px;
    color: white;
    background-color: #1613e4;
    text-align: center;
    font-weight: bold;
 }

 .featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }

 .gambarr {
    width: 200px;
    color: white;
 }

 a:hover {
    color: #8c0000;
 }

 .aabb a {
    display: inline;
 }


 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }

 #content {
    float: left;
    width: 75%;
    text-align: justify;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
 }

 * {
    box-sizing: border-box;
 }

 header {
    display: inline;
 }
